<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreelanceTakipSistemi</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @* View’larda tanımlanan özel Styles bölümlerini buraya alıyor *@
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">FreelanceTakipSistemi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" href="/Proje">Projeler</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Gorev">Görevler</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item"><a class="nav-link" href="/Admin">Admin</a></li>
                        }
                        <li class="nav-item"><a class="nav-link" href="/Kullanici/Cikis">Çıkış</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" href="/Kullanici/Giris">Giriş</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Kullanici/Kayit">Kayıt Ol</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
